<h1>Listing Categories</h1>
<table>
  <thead>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @category.each do |category| %>
    <tr>
    </tr>
  <% end %>
  </tbody>
</table>

<br>