<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Application Status has Changed!</h1>
    <p>Your application for <%= @job.title %> with <%= @employer.company_name %> has been updated.</p>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>