<!-- Main component for a primary marketing message or call to action -->
<div class="alert alert-danger" role="alert">Under Contruction</div>

<div class="jumbotron">
    <h1>DireWolf Job Portal <small>Coming Soon!</small></h1>

    <ul class="list-group">
        <li class="list-group-item">David Zager</li>
        <li class="list-group-item">Prashant Solanki</li>
        <li class="list-group-item">Ying Lei</li>
    </ul>
</div>