<h1>Listing seekers</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @seekers.each do |seeker| %>
      <tr>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

