<div class="col-md-4">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Profile</h3>
    </div>
    <table class="table table-striped">
      <tbody>
      <tr>
        <td>Name:</td>
        <td>Yinglei Zhang</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>yzhang44@ncsu.edu</td>
      </tr>
      <tr>
        <td>Phone Number:</td>
        <td>9198008547</td>
      </tr>
      <tr>
        <td>Skills:</td>
        <td>Ruby on Rails</td>
      </tr>
      <tr>
        <td>Resume:</td>
        <td>Plaintext</td>
      </tr>
      <tr>
        <td>
        <div class="btn-group">
          <%- #<button type="button" class="btn btn-success">Edit Profile</button> %>
          <%= link_to "Edit Profile", category_index_path, class: "btn btn-primary" %>
        </div>
        <td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="col-md-4">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Applied Jobs</h3>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Company Name</th>
        <th>Job Title</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Google</td>
        <td>Software developer</td>
        <td>
          <div class="btn-group">
            <%= link_to "Status", jobs_index_path, class: "btn btn-primary" %>
            <button type="button" class="btn btn-danger">Withdraw</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Facebook</td>
        <td>Sales</td>
        <td>
          <div class="btn-group">
            <%= link_to "Status", jobs_index_path, class: "btn btn-primary" %>
            <button type="button" class="btn btn-danger">Withdraw</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Twitter</td>
        <td>Senior Manager</td>
        <td>
          <div class="btn-group">
            <%= link_to "Status", jobs_index_path, class: "btn btn-primary" %>
            <button type="button" class="btn btn-danger">Withdraw</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="col-md-4">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Recommended Jobs</h3>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Company Name</th>
        <th>Job Title</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Google</td>
        <td>Software developer</td>
        <td>
          Link to job posting page
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Facebook</td>
        <td>Sales</td>
        <td>
          Link to job posting page
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Twitter</td>
        <td>Senior Manager</td>
        <td>
          Link to job posting page
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>