<h1>Listing seekers</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @seekers.each do |seeker| %>
      <tr>
        <td><%= link_to 'Show', seeker %></td>
        <td><%= link_to 'Edit', edit_seeker_path(seeker) %></td>
        <td><%= link_to 'Destroy', seeker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seeker', new_seeker_path %>
