<div class="row">
  <div class="col-sm-offset-3 col-sm-6 well">
      <%= link_to "Admin", new_admin_path, class: "btn btn-success btn-block" %>
      <%= link_to "Seeker", new_seeker_path, class: "btn btn-success btn-block" %>
      <%= link_to "Employer", new_employer_path, class: "btn btn-success btn-block" %>
  </div>
</div>