<div class="container">
  <div class="span8 offset2">
    <div class="col-xs-6 col-right col-min">
      <div class="panel panel-danger">
        <div class="panel-heading"><%=@message%></div>
        <div class="panel-body"><iframe src="http://giphy.com/embed/njYrp176NQsHS?html5=true" width="625" height="350" frameBorder="0"></iframe></div>
      </div>
    </div>
  </div>
</div>

